<div class="sidebar-wrapper">
    <div class="logo">
        <a class="simple-text">
            <div class="logo-img">
                <img src="../../assets/img/angular2-logo.png" alt="">
            </div>
            Title
        </a>
    </div>
    <ul class="nav">
        <li>
            <a href="/">
                <i class="ti-home"></i>
                <p>Home</p>
            </a>
        </li>
        <li>
            <a (click)="navigate('client-a', '/client-a/page1')">
                <i class="ti-arrow-top-right"></i>
                <p>Flights</p>
            </a>
        </li>
    </ul>
</div>
